<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Hesap Makinesi</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-justify-content-center">


  <ion-item size="3">
    <ion-label class="ion-text-center">{{label1}}</ion-label>
    <ion-label  class="ion-text-center">{{label2}}</ion-label>
  </ion-item>


    <ion-grid size="3">
        <ion-row>
            <ion-col col-4>
                <ion-button (click)="birlestir('1')" expand="block">1</ion-button>
            </ion-col>
            <ion-col col-4>
                <ion-button (click)="birlestir('2')" expand="block">2</ion-button>
            </ion-col>
            <ion-col col-4>
                <ion-button (click)="birlestir('3')" expand="block">3</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
              <ion-button (click)="birlestir('4')" expand="block">4</ion-button>
          </ion-col>
          <ion-col col-4>
              <ion-button (click)="birlestir('5')" expand="block">5</ion-button>
          </ion-col>
          <ion-col col-4>
              <ion-button (click)="birlestir('6')" expand="block">6</ion-button>
          </ion-col>
      </ion-row>

        <ion-row>
          <ion-col col-4>
              <ion-button (click)="birlestir('7')" expand="block">7</ion-button>
          </ion-col>
          <ion-col col-4>
              <ion-button (click)="birlestir('8')" expand="block">8</ion-button>
          </ion-col>
          <ion-col col-4>
              <ion-button (click)="birlestir('9')" expand="block">9</ion-button>
          </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-4>
            <ion-button (click)="birlestir('0')" expand="block">0</ion-button>
        </ion-col>
        <ion-col col-4>
            <ion-button (click)="operatoral('+')" expand="block"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col col-4>
            <ion-button (click)="operatoral('-')" expand="block"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
          <ion-button (click)="operatoral('*')" expand="block">x</ion-button>
      </ion-col>
      <ion-col col-4>
          <ion-button (click)="operatoral('/')" expand="block">/</ion-button>
      </ion-col>
      <ion-col col-4>
          <ion-button (click)="islemyap()" expand="block">=</ion-button>
      </ion-col>
  </ion-row>
    </ion-grid>
</ion-content>
